.light-rays-container {
  width: 100%;
  height: 100%;
  position: absolute;
  pointer-events: none;
  z-index: 0;
  inset: 0;
  overflow: hidden;
  filter: drop-shadow(0 0 20px rgba(255, 255, 255, 0.15));
}
